.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 0, 0.3);
    }
    50% {
        background-color: rgba(255, 255, 0, 0.1);
    }
    100% {
        background-color: transparent;
    }
}

.ml-8.mt-2.p-2.border {
    display: block;
    width: 100%;
    overflow: visible;
    background-color: #f9f9f9;
    padding: 16px;
}
.table-container {
    overflow-x: auto;
    white-space: nowrap;
}
.table {
    min-width: 100%;
    border-collapse: collapse;
}
.table th,
.table td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
}
.sticky-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}
