@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dragging {
  opacity: 0.5;
  background-color: #f0f8ff;
  border: 2px dashed #0070f3; /* หรือสีที่คุณต้องการ */
  cursor: grab!important;
}
.dragging:hover {
  cursor: pointer!important;

}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

/* สร้าง class ในไฟล์ CSS */
.align-top tr td{
  vertical-align: top;
}


/* เพิ่มใน CSS */
.item-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 200px; /* กำหนดขนาดความกว้างตามต้องการ */
}
