.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 0, 0.3);
    }
    50% {
        background-color: rgba(255, 255, 0, 0.1);
    }
    100% {
        background-color: transparent;
    }
}

.ml-8.mt-2.p-2.border {
    display: block;
    width: 100%;
    overflow: visible;
    background-color: #f9f9f9;
    padding: 16px;
}

/* เพิ่มในไฟล์ IventoryCss.css */
.resizer {
    display: inline-block;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
th {
    position: relative;
}